distlib==0.3.4
filelock==3.4.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
platformdirs==2.4.0
six==1.16.0
typing-extensions==4.1.1
virtualenv==20.14.1
virtualenvwrapper-win==1.2.7
zipp==3.6.0
